* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Karla", sans-serif;
  background-color: #0B2434;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

main {
  background-color: #F5F5F5;
  height: 600px;
  width: 800px;
  max-width: 100%;
  border-radius: 5px;
  padding: 20px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.die-container{
  display: grid;
  grid-template: auto auto / repeat(5, 1fr);
  gap: 20px;
  margin-bottom: 40px;
}
.instructions{
  font-size: 18px;
}
.title {
  font-size: 40px;
  margin: 0;
}
.die-face {
  height: 80px;
  width: 80px;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  background-color: white;
}
.roll-dice {
  height: 50px;
  width: 120px;
  border: none;
  border-radius: 6px;
  background-color: #5035FF;
  color: white;
  font-size: 1.2rem;
  font-family: 'Karla', sans-serif;
  cursor: pointer;
}

.roll-dice:focus {
  outline: none;
}

.roll-dice:active {
  box-shadow: inset 5px 5px 10px -3px rgba(0, 0, 0, 0.7);
}

.dots {
  display: grid;
  grid-template: auto auto / repeat(3, 1fr);
  gap: 6px;
  margin-bottom: 2px;
}

.dot {
  height: 10px; 
  width: 10px; 
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  background-color: rgb(222, 178, 17);
  border-radius: 4px;
}

